{
  "extends": [
    "airbnb-typescript",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "no-param-reassign": "off",
    "import/prefer-default-export": "off",
    "react/jsx-indent": "off",
    "react/jsx-one-expression-per-line": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
